<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Employee Management System</title>
    <link rel="stylesheet" href="../static/css/styles.css" >
</head>
<body>
 
    <form>
        <h2>Employee Details</h2>
 
        <label for="employeeId">Employee Id:</label>
        <input type="text" id="employeeId" name="employeeId" required>
 
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
 
        <label for="salary">Salary:</label>
        <input type="text" id="salary" name="salary" required>
 
        <label for="dept">Department:</label>
        <input type="text" id="dept" name="dept" required>
 
        <button type="submit">Submit</button>
    </form>
</body>
</html>